<!DOCTYPE html>
<html>
    <head>
        <title>Flightbit</title>
        <link rel="stylesheet" href="./stylesheets/style.css">
        <link rel="icon" type="ico" href="./images/airplane.ico">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>
        <div class="flightbit-wrapper">
            <h1>{{ title }}</h1>

            <!--<label class="screenreader-text" for="search">Search for flights by callsign</label>-->
            <!--<input type="text" id="search" onkeyup="searchFlights()" placeholder="Search for flight...">-->

            <button id="random">Show me a random flight</button>
            <div id="map"></div>
            <p class="credit-text">Plane icon made by <a href="http://www.flaticon.com/authors/scott-de-jonge">Scott de Jonge</a>
            from <a href="www.flaticon.com">FlatIcon</a></p>
        </div>
    </body>
    <script src="./socket.io/socket.io.js"></script>
    <script>
        function initMap() {
            var londonPosition = { lat: 51, lng: 0.12 };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: londonPosition,
                streetViewControl: false
            });

            var marker = new google.maps.Marker({
                position: londonPosition,
                map: map
            });
        }

        var socket = io.connect();
        var randomButtonElement = document.getElementById('random');
        randomButtonElement.addEventListener(
            'click',
            function () {
                var request = new XMLHttpRequest();
 
                request.onreadystatechange = function () {
                    if (request.readyState === 4) {
                        if (request.status === 200) {
                            var result = JSON.parse(request.responseText);
                            var icao24 = Object.values(result)[0];
                            socket.emit('set flight', icao24);
                        } else {
                            console.log('Bad things have happened');
                        }
                    }
                }
                request.open('Get', '/random');
                request.send();
            },
            false
        );
        
        function searchFlights() {
            console.log('test search');
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmCeMyctj_TLFrzdxO8IerXBCWT0a3kds&callback=initMap">
    </script>
</html>
